.author-profile{
    width: 88px;
	height: 88px;
    border-radius: 88px;
    border: 5px solid $c-white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
